.main .title {
  /* background: rgb(200, 14, 61); */
  text-align: center;
  font-weight: 700;
  line-height: 1.2em;
  padding: 1em;
}

.section {
  position: relative;
  width: 100%;
}

.section .button {
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  padding: 0;
  height: 3em;
  width: 3em;
  outline: 0;
  border: 0;
  background: none;
  text-indent: -9999%;
  pointer-events: none;
}

.section .button:before {
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 4px;
  border-radius: 0.3em;
  background: var(--color-white);
  transform-origin: 50%;
  top: 50%;
  left: 50%;
  transition: all 0.25s ease-in-out;
  transform: translate(75%, -50%) rotate(45deg);
}

.section .button:after {
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 4px;
  border-radius: 0.3em;
  background: var(--color-white);
  transform-origin: 50%;
  top: 50%;
  left: 50%;
  transition: all 0.25s ease-in-out;
  transform: translate(-75%, -50%) rotate(-45deg);
}

.section.open .button:before,
.section.open .button:after {
  height: 14px;
}

.section.open .button:before {
  transform: translate(0%, -50%) rotate(-45deg);
}

.section.open .button:after {
  transform: translate(0%, -50%) rotate(45deg);
}

.section.open .articlewrap {
  height: 275px;
  overflow-y: hidden;
}

.articlewrap {
  height: 0;
  overflow: scroll;
  transition: all 0.2s ease-in;
  background-color: rgb(224, 238, 224);
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background-color: var(--color-green);
  cursor: pointer;
  font-weight: 700;
  color: var(--color-white);
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
}

.article {
  color: rgb(51, 51, 51);
}

#filterIcon {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
