.box-size {
  line-height: 40px;
  width: 50%;
}

#filter-wrap {
  padding: 10px;
  background-color: rgb(224, 238, 224);
  width: 100%;
  margin: 0 auto;
}

#filter-wrap p {
  font-size: 12px;
  margin: 0;
}

#filter-btn {
  background-color: rgb(40, 96, 161);
  display: block;
  color: rgb(255, 255, 255);
  margin: 10px auto;
  border: none;
  line-height: 44pt;
  border-radius: 3px;
  font-size: 20px;
}

#protein-input label,
#carb-input label,
#fat-input label {
  font-size: 18px;
  color: rgb(45, 106, 41);
}

#protein-input input,
#carb-input input,
#fat-input input {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

#macro-input td {
  text-align: center;
  padding: 0;
}

table#macro-input {
  margin: auto;
}

@media only screen and (min-width: 650px) {
  #filter-btn {
    line-height: 30pt;
    font-size: 18px;
  }

  #filter-wrap p {
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
  }
}
