#protein-input label,
#carb-input label,
#fat-input label {
  font-size: 18px;
  color: rgb(45, 106, 41);
}

#protein-input input,
#carb-input input,
#fat-input input {
  text-align: center;
  background-color: white;
}

.box-size {
  line-height: 40px;
  width: 50%;
}

#filter-wrap {
  /*border: 1px solid black;*/
  padding: 0 10px 10px 10px;
  background-color: #e0eee0; /*light green*/
  width: 100%;
  margin: 0 auto;
}

#filter-wrap p {
  font-size: 12px;
  margin: 0;
}

#filter-btn {
  background-color: #2860a1;
  display: block;
  color: white;
  margin: 10px auto;
  border: none;
  line-height: 44pt;
  border-radius: 3px;
}

#macro-input td {
  text-align: center;
  padding: 0;
}

table#macro-input {
  margin: auto;
}

@media only screen and (min-width: 650px) {
  #filter-btn {
    line-height: 30pt;
  }

  #filter-wrap p {
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
  }
}
