th {
  font-size: 22px;
}

ul#menu-items {
  margin-top: 0;
  margin: auto;
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}

.add-btn {
  border-radius: 5px;
  padding: 7.5px;
  line-height: 30px;
  background-color: var(--color-green);
}

.border {
  border: 1px solid var(--color-black);
}

.menu-items {
  background-color: var(--color-green);
  margin: 0 auto;
  padding: 10px 0;
  color: var(--color-white);
  border-top: 1px solid var(--color-black);
}

#menu-items {
  background-color: var(--color-white);
}

#addIcon {
  width: 25px;
  height: 25px;
  padding-top: 2px;
}

#list-item {
  text-align: center;
}

#menu-items li {
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgb(217, 217, 217);
}

#list-item table {
  width: 90%;
  margin: auto;
  max-width: 80%;
}

#list-item th {
  color: var(--color-black);
  font-family: var(--font-roboto);
}

@media only screen and (min-width: 650px) {
  .menu-items {
    border: none;
  }

  #menu-items li {
    margin: 0 5px 10px 5px;
    border-radius: 3px;
  }
}
