#page-numbers {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
  list-style: none;
  -webkit-padding-start: 0;
}

#page-numbers > li {
  background-color: rgb(245, 245, 245);
  color: rgb(45, 106, 41);
  margin: 0 0.15em;
  font-weight: 900;
  cursor: pointer;
  font-size: 35px;
  width: 20px;
}

#page-numbers > li:hover {
  font-style: oblique;
}

.pag-btn {
  background-color: rgb(131, 163, 65);
  color: rgb(245, 245, 245);
  margin: 5px;
  line-height: 30pt;
  border-radius: 3px;
}

@media only screen and (min-width: 650px) {
  .pag-btn {
    line-height: 20pt;
  }

  #page-numbers > li {
    margin-right: 0;
    font-size: 25px;
  }
}
