#slider-wrap {
  padding: 0 10px;
}

#slider-container {
  /*padding: 10px;*/
  background-color: #f5f5f5;
}

#slider-container p {
  color: rgb(45, 106, 41);
}

.input-range__label--max .input-range__label-container,
.input-range__label-container {
  left: 0;
  color: rgb(45, 106, 41);
}

.input-range__label-container {
  left: 5px;
}

.input-range__slider {
  appearance: none;
  background: rgb(45, 106, 41);
  border: 1px solid rgb(45, 106, 41);
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem;
  transform: scale(1.5);
}

.input-range__track--active {
  background: rgb(45, 106, 41);
}
