#menu-container {
  width: 100%;
}

#step2-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

#step2-container h1 {
  background-color: rgb(45, 106, 41);
  margin: 0;
  color: rgb(245, 245, 245);
}

#menu-btn {
  background-color: #2860a1;
  color: rgb(245, 245, 245);
  border: none;
  display: block;
  margin: auto;
  line-height: 44pt;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 20px;
}

#calorie-title {
  background-color: rgb(131, 163, 65);
  margin: 0 auto;
  padding: 10px 0;
  color: rgb(245, 245, 245);
}

@media only screen and (min-width: 650px) {
  .item-container {
    overflow-y: scroll;
    height: 648px;
  }

  #step2-container {
    width: 90%;
    height: 800px;
  }

  #slider-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 752px;
    border-right: 1px solid rgb(45, 106, 41);
    border-left: 1px solid rgb(45, 106, 41);
  }

  #menu-container {
    display: inline-block;
    width: 50%;
    height: 752px;
    margin: 0;
    border-right: 1px solid rgb(45, 106, 41);
  }

  #menu-btn {
    margin-bottom: 10px;
    line-height: 30pt;
    font-size: 16px;
  }
}
