#nav-links td {
  border-right: 1px solid var(--color-dark-green);
  line-height: 40px;
  background-color: rgb(131, 163, 65);
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: var(--color-white);
  font-family: Roboto;
}

#nav-links td:last-of-type {
  border-right: none;
  padding: 0 5px;
}

#nav-links {
  margin: auto;
  width: 100%;
}

#homeIcon,
#aboutIcon {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  filter: invert(1);
}

@media only screen and (min-width: 650px) {
  #nav-links {
    width: 90%;
  }

  #nav-links td:first-of-type {
    border-left: 1px solid rgb(131, 163, 65);
  }
}
