ol.progtrckr {
  margin: auto;
  padding-bottom: 2.2rem;
  list-style-type: none;
  padding-left: 0;
  background-color: var(--color-dark-green);
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 2.1rem;
  padding: 0 0.7rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1rem;
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.progtrckr em {
  display: none;
  font-weight: 700;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }

  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo,
ol.progtrckr li.progtrckr-doing,
ol.progtrckr li.progtrckr-done {
  color: var(--color-white);
  border-bottom: 4px solid var(--color-light-green);
}

ol.progtrckr li:after {
  content: '\00a0\00a0';
}

ol.progtrckr li:before {
  position: relative;
  bottom: -1.6rem;
  float: left;
  left: 34%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: '\039F';
  color: var(--color-light-green);
  line-height: 1.2em;
  text-align: center;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: var(--color-white);
}

ol.progtrckr li.progtrckr-doing:before {
  content: '\2022';
  color: var(--color-dark-green);
  background-color: var(--color-light-green);
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: var(--color-white);
}

ol.progtrckr li.progtrckr-done:before {
  content: '\2713';
  color: var(--color-dark-green);
  background-color: var(--color-light-green);
  width: 1.1em;
  line-height: 1.1em;
  border-radius: 1.1em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: var(--color-white);
}

.footer-buttons {
  padding: 10px 0;
  text-align: center;
  background-color: var(--color-dark-green);
  margin: auto;
}

.footer-buttons button {
  line-height: 44pt;
  border-radius: 3px;
  margin: 5px;
}

.multi-step {
  text-align: center;
}

.btn {
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  line-height: 44pt;
  border-radius: 3px;
}

@media only screen and (min-width: 650px) {
  ol.progtrckr,
  .footer-buttons {
    width: 90%;
  }

  ol.progtrckr li:before {
    left: 45%;
  }

  .footer-buttons button {
    line-height: 30pt;
  }

  .btn {
    line-height: 30pt;
  }
}
