#slider-container {
  padding: 10px;
  background-color: #00bfff;
   {
    /*light blue*/
  }
}

.input-range__label--max .input-range__label-container,
.input-range__label-container {
  left: 0;
  color: black;
}

.input-range__slider {
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem;
  transform: scale(1.5);
}
