* {
  transition: all 0.2s;
}

.brand-search {
  color: black;
  text-align: center;
}

.inputbox {
  background-color: #fff;
  margin: 5px;
  width: 90%;
  text-align: center;
}

.submit-btn {
  background-color: #2860a1;
  /*opacity: 1;*/
  color: white;
  margin: 5px;
  border: none;
}

.hidden {
  opacity: 0 !important;
}

.show {
  opacity: 1 !important;
}
