#step1-container {
  width: 100%;
  display: block;
  margin: auto;
  background-color: #f5f5f5;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#step1-container h1 {
  margin: 0;
  color: white;
  background-color: rgb(45, 106, 41);
}

#step1-container h3 {
  color: rgb(45, 106, 41);
  margin: 0;
  padding-top: 20px;
}

#step1-container h1,
#step1-container h3,
#slider-container h3,
#menu-container h3 {
  text-align: center;
}

#step1-container ul {
  text-align: left;
  list-style-position: inside;
  padding-left: 0;
}

#step1-container li {
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
  padding: 5px;
  margin: 2.5px 0;
  background-color: rgb(45, 106, 41);
  color: #f5f5f5;
  text-align: center;
  line-height: 44pt;
  border-radius: 3px;
  font-size: 20px;
}

#step1-body {
  padding: 0 10px 10px 10px;
  background-color: #f5f5f5;
}

.bold {
  font-weight: bolder;
}

@media only screen and (min-width: 650px) {
  #step1-container {
    width: 90%;
  }

  #step1-container li {
    line-height: 30px;
    font-size: 16px;
  }
}
