@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

button:disabled {
  opacity: 0.5;
}

button {
  background-color: white;
}

.container {
  display: block;
  max-width: 1200px;
  background-color: #d3d3d3;
  padding: 0 0 15px 0;
}

#brand-container {
  background-color: #ffa07a;
  padding: 1px 10px 10px 10px;
}

#brand-container h1,
#brand-container h3,
#slider-container h3,
#menu-container h3 {
  text-align: center;
}

#menu-btn {
  background-color: #2860a1;
  color: white;
  border: none;
  display: block;
  margin: auto;
}
