#step3-container {
  width: 100%;
  background-color: rgb(224, 238, 224);
  margin: auto;
}

#step3-container h1 {
  background-color: rgb(45, 106, 41);
  margin: 0;
  color: #f5f5f5;
}

#review-container {
  padding-bottom: 10px;
}

#reset-btn {
  background-color: #2860a1;
  color: #f5f5f5;
  border: none;
  display: block;
  margin: 0 auto;
  line-height: 44pt;
  border-radius: 3px;
  border: none;
  font-size: 18px;
}

@media only screen and (min-width: 650px) {
  #step3-container {
    background-color: #f5f5f5;
    width: 90%;
    border-left: 1px solid rgb(45, 106, 41);
    border-right: 1px solid rgb(45, 106, 41);
  }

  #reset-btn {
    line-height: 30pt;
  }
}
